@import 'include-processing';
// @import 'working-parts';
// 1.Configs
// ===MODIFIERS===
$modifiers-for-man: (
  -heir: (
      color: black,
    ),
  -face: (
      --eyes: (
        color: blue,
        background-color: white,
      ),
      --nose: (
        height: 7cm,
        width: 3cm,
      ),
      --lips: (
        color: red,
      ),
    ),
  -hand: (
      --left: (
        text-align: left,
      ),
      --right: (
        text-align: right,
      ),
    )
);

$btn-sizes: (
  --lg: (
    height: 40px,
  ),
  --md: (
    height: 30px,
  ),
  --sm: (
    height: 20px,
  ),
);

// ===THEMES===
// TODO naming
$theme-1-key-name: theme-light;
$themes: (
  $theme-1-key-name: theme--light,
  theme-dark: theme--dark,
);

@debug nth(nth($themes, 1), 1);
@debug nth(nth($themes, 2), 1);

$themes-specifics-for-people: (
  theme-light: (
    color: white,
  ),
  theme-dark: (
    -man: (
        color: black,
      ),
    -women: (
        color: brown,
      ),
    -women-hair: (
        color: brown,
      ),
  ),
);

$themes-specifics-for-btn: (
  theme-light: (
    --error: (
      background: red,
      color: white,
    ),
    --success: (
      background: limegreen,
      color: white,
    ),
    --warning: (
      background: orangered,
      color: lightgrey,
    ),
  ),
  theme-dark: (
    --error: (
      background: darkred,
      color: darkgrey,
    ),
    --warning: (
      background: pink,
      color: black,
    ),
  ),
);

// ===CLASSES===
$different-btns: (
  btn-text: (
    color: green,
  ),
  btn-round: (
    border-radius: 100%,
  ),
);
// ===PSEUDO===

// 2.SCSS
.people {
  display: block;
  padding: 0.5em;

  @include theme-processing(
    $config: $themes-specifics-for-people,
    $themes: $themes
  );

  &-man {
    @include modifiers-processing($modifiers-for-man);

    &-heir {
      color: black;
    }

    &-face {
      &--eyes {
        color: blue;
        background-color: white;
      }
      &--nose {
        height: 7cm;
        width: 3cm;
      }
      &--lips {
        color: red;
      }
    }

    &-hand {
      &--left {
        text-align: left;
      }

      &--right {
        text-align: right;
      }
    }
  }
}

.btn {
  display: inline-block;
  padding: 1em;
  background: #ccc;
  color: #666;

  @include modifiers-processing($btn-sizes);

  @include theme-processing(
    $config: $themes-specifics-for-btn,
    $themes: $themes
  );
}

@include class-processing($different-btns);
